@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import "tailwindcss";

@theme {

  /* Primary colors */
  --color-primary-default: hsl(172, 67%, 45%);
  
  /* Neutral colors */
  --color-neutral-primary-dark: hsl(183, 100%, 15%);
  --color-neutral-primary-dark-grayish: hsl(186, 14%, 43%);
  --color-neutral-primary-grayish: hsl(184, 14%, 56%);
  --color-neutral-primary-light-grayish: hsl(185, 41%, 84%);
  --color-neutral-primary-very-light-grayish: hsl(189, 41%, 97%);
  --color-neutral-light: hsl(0, 0%, 100%);

  /* Typography */
  --font-body: "Space Mono", serif;
}

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}